body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

/* fonts */

@font-face {
	font-family: "magazine";
	src: url(Magazine.ttf);
}

@font-face {
	font-family: "magazine-bold";
	src: url("Magazine-Bold.ttf");
}

@font-face {
	font-family: "vogue";
	src: url(Vogue.ttf);
}

@font-face {
	font-family: "roman";
	src: url(Roman\ SD.ttf);
}

@font-face {
	font-family: "charmist";
	src: url(Charmist\ DEMO.ttf);
}

@font-face {
	font-family: "chapaza";
	src: url("Chapaza.ttf");
}

@font-face {
	font-family: "chapaza-italic";
	src: url(Chapaza\ Italic.ttf);
}

@font-face {
	font-family: "poppinsBold";
	src: url(Poppins-Bold.otf);
}

@font-face {
	font-family: "poppinssemibold";
	src: url(Poppins-SemiBold.ttf);
}

@font-face {
	font-family: "poppinsextrabold";
	src: url(Poppins-ExtraBold.otf);
}

@font-face {
	font-family: "poppinsmedium";
	src: url(Poppins-Medium.otf);
}

@font-face {
	font-family: "montserrat";
	src: url(Montserrat-VariableFont_wght.ttf);
}

@font-face {
	font-family: "montserratitalic";
	src: url(Montserrat-Italic-VariableFont_wght.ttf);
}







/* NAVBAR */

.navbar {
	z-index: 50;
	position: fixed;
	width: 100%;
	height: 70px;
	padding: 15px 0;
	top: 0;
	background-color: rgba(255, 255, 255, 0.4);
	transition: all 0.5s ease;
}

.navbar-container {
	height: 70px;
	margin: auto;
	display: flex;
	align-items: center;
	vertical-align: middle;
	justify-content: center;
}

.navbar-logo {
	font-size: 35px;
	font-family: "poppinsextrabold";
	letter-spacing: 0.8px;
}

.navbar-menu {
	display: flex;
	align-items: center;
	margin-left: 70px;
}

.navbar-menu ul {
	display: flex;
	list-style: none;
}

.navbar-menu ul a {
	text-decoration: none;
	color: rgb(14, 14, 14);
}

.navbar-menu ul a h5 {
	list-style: none;
	margin: 0 20px;
	font-size: 15px;
	font-family: "poppinssemibold";
	text-transform: uppercase;
	letter-spacing: 1.5px;
	border-radius: 15px;
	cursor: pointer;
	transform: translateY(12px);
	transition: all 0.4s ease;
}

.brush-one {
	width: 4vw;
}

.brush-two {
	width: 6.5vw;
}

.brush-three {
	width: 6.4vw;
}

.brush-four {
	width: 8.2vw;
}

.brush-five {
	width: 9vw;
}

.navbar-menu ul a img {
	margin: 0 20px;
	padding: 0;
	height: 5px;
	visibility: hidden;
	transform: translateX(-0.1vw);
}

.navbar-menu ul a:hover img {
	visibility: visible;
}

.navbar-menu .social-media i {
	color: rgb(18, 18, 18);
	margin-left: 20px;
	font-size: 20px;
	cursor: pointer;
	transition: all 0.4s ease;
}

.navbar-menu .social-media i:hover {
	color:rgb(134, 174, 117);
}

.menu-logo {
	display: none;
}

.menu-social-media {
	display: none;
}

.menu-contact {
	display: none;
}

.btn {
	display: block;
	z-index: 50;
	position:fixed;
	top: 10px;
	left: 10px;
	font-size: 20px;
	visibility: hidden;
}

#check {
	display: block;
	position:fixed;
	top: 10px;
	left: 10px;
	visibility: hidden;
}

#check:checked ~ .navbar {
	left: 0;
}




/* HOME PAGE */

.home {
	position: relative;
	width: 100%;
	height: 680px;
	margin-top: -70px;
}

.home-container {
	width: 90%;
	margin: auto;
	justify-content: center;
}

.home-background {
	width: 67%;
	height:  680px;
	float: right;
	object-fit: cover;
	z-index: 50;
	transform: translate(60px, -20px);
}

.home-background svg {
	z-index: 50;
	width: 75vw;
}

.home-title {
	z-index: -50;
    overflow: hidden;
	transform: translateY(300px);
}

.home-title .text{
	margin: 0;
	width: 33%;
	z-index: -10;
    position: relative;
    font-size: 80px;
    font-weight: 600;
	font-family: "poppinsbold";
    color: #000000;
	line-height: 82px;
}

.text.third-text {
	color: #4f7c2e;
	line-height: 100px;
}

.text.third-text:before{
    content: "";
    position: absolute;
    top: 15px;
    left: 0;
    height: 80%;
    width: 100%;
	background-color: rgb(255, 255, 255);
    border-left: 10px solid #4f7c2e;
    animation: animate 4s steps(12) infinite;
}

@keyframes animate{
    40%, 60%{
        left: calc(100% + 10px);
    }
    100%{
        left: 0%;
    }
}



/* OPENING PAGE */

.opening {
	width: 100%;
	height: 650px;
	transform: translateY(-20px);
}

.opening-container {
	width: 90%;
	padding: 0;
	margin: auto;
	justify-content: center;
}

.opening-title {
	text-align: center;
	transform: translateY(200px);
	font-family: "montserratitalic";
	font-size: 40px;
	font-weight: 400;
	color: #71614d;
}

.opening-content img {
	width: 200px;
	z-index: -20;
}

.opening-content .bottom {
	float: right;
}

.opening-content h3 {
	text-align: center;
	margin: -20px 0;
	font-size: 70px;
	line-height: 80px; 
}



/* BEST PRODUCTS / SERVICES OFFERING */

.offer {
	width: 100%;
	margin: 0;
	padding: 0;
	margin-top: 12vh;
}

.offer-container {
	width: 95%;
	margin: 0;
	padding: 0;
	margin: auto;
	justify-content: center;
	display: flex;
}

.offer-title {
	text-align: center;
	font-family: "montserratitalic";
	font-size: 40px;
	font-weight: 400;
	color: #71614d;
}

.offer-content {
	margin: 0 18px;
	height: 700px;
	background-color: #000000;
	cursor: pointer;
}

.offer-content:hover {
	background-color: #161616;
}

.offer-img span{
	display: flex;
	width: 100%;
	overflow: hidden;
}

.offer-img img{
	width: 100%;
	height: 250px;
	object-fit: cover;
	vertical-align: middle;
	transition: all 0.3s ease;
}

.offer-content:hover .offer-img img{
	transform: scale(1.1);
}

.offer-desc {
	margin: 45px;
	text-align: left;
	color: white;
}

.offer-desc h3 {
	display: inline;
    background-repeat: no-repeat;
    transition: all 500ms ease-in-out;
	margin: 0;
	font-size: 35px;
	line-height: 45px;
	letter-spacing: 1.2px;
	font-family: "poppinsbold";
	background-position: left;
    background-size: 0% 100%;
    background-image: linear-gradient(to bottom, transparent 60%, #4b712f 40%);
}

.offer-content:hover .offer-desc h3 {
	background-size: 100% 100%;
}

.offer-desc h5 {
	margin: 0;
	margin-top: 20px;
	font-size: 20px;
	letter-spacing: 1.2px;
	font-family: "montserratitalic";
	font-weight: 400;
}




/* FOUNDER [MUNIF CHATIB] PAGE */

.founder {
	width: 100%;
	height: 600px;
	margin-top: 22vh;
}

.founder-header {
	width: 90%;
	margin: auto;
	justify-content: center;
	border-bottom: 5px solid #3b3937;
}

.founder-header h3 {
	margin: 0;
	margin-bottom: 20px;
	font-family: "montserratitalic";
	font-size: 35px;
	font-weight: 400;
	color: #3b3937;
}

.founder-container {
	width: 90%;
	height: 600px;
	margin: auto;
	justify-content: center;
	display: flex;
	margin-top: 40px;
}

.founder-img span{
	display: flex;
	width: 100%;
	overflow: hidden;
}

.founder-img img {
	width: 550px;
	height: 550px;
	object-fit: cover;
	transition: all 0.5s ease;
}

.founder-img img:hover {
	transform: scale(1.05);
}

.founder-desc {
	margin-left: 50px;
}

.founder-desc h3 {
	font-size: 88px;
	font-weight: 900;
	line-height: 80px;
	letter-spacing: 1.5px;
	margin: 0;
	text-transform: uppercase;
	font-family: "poppinsbold";
}

.founder-desc h5 {
	margin: 0;
	margin-top: 20px;
	font-size: 20px;
	font-weight: 300;
	line-height: 27px;
	letter-spacing: 1px;
	font-family: "montserrat";
}



/* GET TO KNOW MORE ARROW */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.arrow-one {
	margin-top: 40px;
}

.arrow-two {
	margin-top: 50px;
}
  
.the-arrow {
	width: 64px;
	transition: all 0.2s;
}

.the-arrow.-left {
	position: absolute;
	top: 60%;
	left: 0;
}

.the-arrow.-left > .shaft {
	width: 0;
	background-color: #232323;
}

.the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
	width: 0;
	height: 1.5px;
	background-color: #232323;
}

.the-arrow.-left > .shaft:before {
	transform: rotate(0);
}

.the-arrow.-left > .shaft:after {
	transform: rotate(0);
}

.the-arrow.-right {
	top: 3px;
}

.the-arrow.-right > .shaft {
	width: 64px;
	transition-delay: 0.2s;
}

.the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
	width: 8px;
	height: 1.5px;
	transition-delay: 0.3s;
	transition: all 0.5s;
}

.the-arrow.-right > .shaft:before {
	transform: rotate(40deg);
}

.the-arrow.-right > .shaft:after {
	transform: rotate(-40deg);
}

.the-arrow > .shaft {
	background-color: #232323;
	display: block;
	height: 1.5px;
	position: relative;
	transition: all 0.2s;
	transition-delay: 0;
	will-change: transform;
}

.the-arrow > .shaft:before, .the-arrow > .shaft:after {
	background-color: #232323;
	content: "";
	display: block;
	height: 1px;
	position: absolute;
	top: 0;
	right: 0;
	transition: all 0.2s;
	transition-delay: 0;
}

.the-arrow > .shaft:before {
	transform-origin: top right;
}

.the-arrow > .shaft:after {
	transform-origin: bottom right;
}
  
.animated-arrow {
	display: inline-block;
	color: #232323;
	font-size: 5em;
	font-style: italic;
	text-decoration: none;
	position: relative;
	transition: all 0.2s;
}

.animated-arrow:hover {
	color: #53734b;
}

.animated-arrow:hover > .the-arrow.-left > .shaft {
	width: 64px;
	transition-delay: 0.1s;
	background-color: #53734b;
}

.animated-arrow:hover > .the-arrow.-left > .shaft:before, 
.animated-arrow:hover > .the-arrow.-left > .shaft:after {
	width: 8px;
	transition-delay: 0.1s;
	background-color: #53734b;
}

.animated-arrow:hover > .the-arrow.-left > .shaft:before {
	transform: rotate(40deg);
}

.animated-arrow:hover > .main {
	transform: translateX(80px);
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft {
	width: 0;
	transform: translateX(10%);
	transition-delay: 0;
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, 
.animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
	width: 0;
	transition-delay: 0;
	transition: all 0.1s;
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
	transform: rotate(0);
}

.animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
	transform: rotate(0);
}

.animated-arrow > .main {
	display: flex;
	align-items: center;
	transition: all 0.2s;
}

.animated-arrow > .main > .text {
	margin: 0 16px 0 0;
	font-size: 30px;
	font-weight: 900;
	line-height: 1px;
}

.animated-arrow > .main > .the-arrow {
	position: relative;
}




/* NEXT EDU ACHIEVEMENTS */

.achievements {
	width: 100%;
	margin-top: 30vh;
}

.achievements-header {
	width: 90%;
	margin: auto;
	justify-content: center;
	border-bottom: 5px solid #3b3937;
}

.achievements-header h3 {
	text-align: right;
	margin: 0;
	margin-bottom: 20px;
	font-family: "montserratitalic";
	font-size: 35px;
	font-weight: 400;
	color: #3b3937;
}

.achievements-containers {
	margin: auto;
	display: flex;
	width: 90%;
	margin-top: 40px;
	justify-content: center;
}

.achievements-container {
	margin: 0;
	width: 50%;
}

.achievements-containers .one {
	float: left;
	display: list-item;
	list-style: none;
	padding-right: 40px;
	transform: translateY(40px);
}

.achievements-containers .two {
	float: right;
	padding-left: 40px;
}

.achivements-content {
	text-align: center;
	align-items: center;
	margin: auto;
	display: flex;
	height: 220px;
	border-bottom: 5px solid #d5d5d5;
}

.achivements-content-desc {
	text-align: center;
	justify-content: center;
	margin: auto;
}

.achivements-content i,
.achivements-content h3,
.achivements-content h5 {
	transition: all 0.2s ease;
	cursor: pointer;
	margin: 0;
}

.achivements-content i {
	font-size: 90px;
	margin-left: 50px;
}

.achivements-content i:hover {
	color: #324b1f;
}

.achivements-content h3 {
	margin: 0;
	font-size: 60px;
	color: #324b1f;
	font-family: "poppinsbold";
}

.achivements-content h3:hover {
	color: #19250f;
}

.achivements-content h5 {
	margin: 0;
	font-size: 38px;
	line-height: 30px;
	font-family: "poppinsbold";
}

.achivements-content h5:hover {
	color: #474646;
}

.achievements-desc {
	text-align: right;
}

.achievements-desc h3 {
	font-size: 70px;
	font-weight: 900;
	line-height: 75px;
	letter-spacing: 1.2px;
	margin: 0;
	text-transform: uppercase;
	font-family: "poppinsbold";
}

.achievements-desc h5 {
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: 1.2px;
	margin: 0;
	margin-top: 10px;
	margin-bottom: 50px;
	text-transform:lowercase;
	font-family: "montserrat";
	color: #303030;
}

.achievements-desc h5 span {
	font-weight: 800;
	background-color: rgb(179, 200, 160);
	padding: 0 5px;
}

.achievements-img {
	float: right;
}

.achievements-img span{
	display: flex;
	width: 100%;
	overflow: hidden;
}

.achievements-img img{
	width: 550px;
	height: 550px;
	object-fit: cover;
	transition: all 0.5s ease;
}

.achievements-img img:hover {
	transform: scale(1.05);
}




/* FOOTER */

.footer {
	position: relative;
	width: 100%;
	height: 400px;
	background-color: #0d0d0d;
	top: 22vh;
	color: white;
}

.footer-containers {
	width: 90%;
	margin: auto;
	align-items: center;
	justify-content: center;
	display: flex;
}

.gallery {
	position: relative;
	top: 30px;
	display: grid;
	grid-template-columns:172px 172px 172px;
	grid-gap: 17px 17px;
}

.gallery span{
	display: flex;
	width: 100%;
	overflow: hidden;
}

.gallery img {
	width: 172px;
	height: 165px;
	object-fit: cover;
	transition: all 0.3s ease;
}

.gallery img:hover {
	transform: scale(1.08);
}

.footer-container-two {
	position: relative;
	top: 35px;
	text-align: right;
	float: right;
}

.footer-logo {
	font-size: 60px;
	font-family: "poppinsextrabold";
	letter-spacing: 0.8px;
}

.footer-copyright {
	margin: -8px 0 10px 0;
	font-size: 20px;
	font-weight: 600;
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-style: italic;
	letter-spacing: 1px;
}

.footer-desc {
	width: 98%;
	float: right;
}

.footer-desc a {
	display: inline;
    background-repeat: no-repeat;
    transition: all 500ms ease-in-out;
	color: rgb(201, 220, 196);
	text-decoration: none;
	margin-left: 15px;
	font-size: 20px;
	font-family:"poppinsbold";
	letter-spacing: 2.2px;
	line-height: 35px;
	text-transform: uppercase;
	background-position: left;
    background-size: 0% 100%;
    background-image: linear-gradient(to bottom, transparent 90%, rgb(169, 191, 163) 10%);
}

.footer-desc a:hover {
	background-size: 100% 100%;
}

.footer-socialmedias {
	text-align: right;
	float: right;
	display: flex;
}

.footer-socialmedia {
	margin-left: 27px;
}

.footer-socialmedia i {
	display: table-cell;
	font-size: 27px;
	border: 3px solid rgb(255, 255, 255);
	width: 45px;
	height: 45px;
	border-radius: 50%;
	vertical-align: middle;
	text-align: center;
	transition: all 0.2s ease;
	cursor: pointer;
}

.footer-socialmedia:hover > i{
	border-color: rgb(162, 192, 140);
	color: rgb(162, 192, 140);
}



/* SERVICES PAGE */
.services-page {
	width: 100%;
	height: 50vw;
}

.services-container {
	width: 90%;
	margin: auto;
	justify-content: center;
}

.services-img {
	z-index: 10;
	width: 60vw;
	height: 35vw;
	transform: translate(0, 10vw);
}

.services-img img {
	z-index: 10;
	width: 60vw;
	height: 35vw;
	object-fit: cover;
	border-radius: 0.5vw;
}

.services-desc {
	position: relative;
	z-index: 20;
}

.services-desc h3 {
	margin: 0 0 0 auto;
	width: 60%;
	justify-content: right;
	text-align: right;
	font-size: 7vw;
	line-height: 7vw;
	font-family: "poppinsbold";
	color: #000000;
}


@media screen and (min-width:320px) and (max-width: 500px) {

	body {
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}

	.navbar {
		z-index: 50;
		position: absolute;
		width: 100%;
		height: 40px;
		padding: 15px 0;
		top: 0;
	}
	
	.navbar-container {
		height: 40px;
		margin: auto;
		display: flex;
		align-items: center;
		vertical-align: middle;
		justify-content: center;
	}
	
	.navbar-logo {
		width: 100%;
		text-align: right;
		margin: 0;
		margin-right: 4.2vw;
		height: auto;
		font-size: 9vw;
		align-items: center;
		font-family: "poppinsextrabold";
		letter-spacing: 0.8px;
	}

	.navbar-logo h3 {
		margin: 0;
	}
	
	.navbar-menu {
		margin: 0;
		display: inline-block;
		align-items: center;
		list-style: none;
	}
	
	.navbar-menu ul {
		padding-left: 12%;
		display: inline-block;
	}

	.navbar-menu .social-media {
		display: none;
	}

	.menu {
		margin: 0;
		padding: 0;
		position: fixed;
		height: 50px;
		list-style: none;
        display: inline-block;
        text-align: left;
		top: 0px;
		left: -112%;
        transition: 1s all;
		background-color: rgb(255, 255, 255);
		height: 100%;
		width: 100%;
		z-index: 20;
	}

	.menu-logo {
		display: block;
		margin: 0;
		margin-top: 20vw;
		font-size: 14vw;
		font-family: "poppinsextrabold";
		letter-spacing: 0.8px;
	}

	.menu-social-media {
		display: block;
		margin: 0;
		transform: translateY(25px);
	}

	.menu-social-media a {
		color: rgb(18, 18, 18);
		margin-right: 20px;
		font-size: 8vw;
		cursor: pointer;
		transition: all 0.4s ease;
	}

	.menu-social-media a:hover > i{
		color:rgb(134, 174, 117);
	}
	
	.menu li {
		width: 100%;
		height: 15vw;
		margin: 0;
		align-items: center;
		text-decoration: none;
		color: rgb(14, 14, 14);
	}
	
	.menu li a h5 {
		margin: 0;
		list-style: none;
		font-size: 5.7vw;
		font-family: "poppinsbold";
		text-transform: uppercase;
		letter-spacing: 1.5px;
		cursor: pointer;
		align-items: center;
		transition: all 0.4s ease;
	}
	
	.menu li a img {
		margin: 0;
		visibility: hidden;
		margin-left: -0.7vw;
	}

	.brush-one {
		width: 19vw;
	}

	.brush-two {
		width: 32vw;
	}

	.brush-three {
		width: 31vw;
	}

	.brush-four {
		width: 41vw;
	}

	.brush-five {
		width: 42.5vw;
	}
	
	.menu li a h5:hover img {
		visibility: visible;
	}

	.menu-contact {
		display: inline-block;
		margin-top: 20vh;
	}

	.menu-contact .get-in-touch a {
		display: flex;
		align-items: center;
		transition: all 0.4s ease;
	}

	.menu-contact .get-in-touch a :hover {
		color: #273919;
	}

	.menu-contact .get-in-touch a i {
		font-size: 26px;
		font-weight: 900;
		margin-right: 10px;
		color: #374f24;
	}

	.menu-contact .get-in-touch a h6 {
		margin: 0;
		font-size: 5.7vw;
		font-family: "poppinsmedium";
		font-style: italic;
		text-transform: capitalize;
		letter-spacing: 1px;
		cursor: pointer;
	}

	.menu-contact .email a:hover {
		color: #374f24;
	}

	.menu-contact .email h6{
		margin: 0;
		margin-top: 2.2vw;
		font-size: 5.7vw;
		font-family: "poppinsbold";
		letter-spacing: 1px;
		cursor: pointer;
	}

	.btn {
		float: right;
		display: block;
		z-index: 50;
		position: fixed;
		font-size: 8vw;
		top: 4.2vw;
		left: 4.2vw;
		visibility: visible;
	}
	
	#check {
		float: right;
		display: block;
		position: fixed;
		top: 4.2vw;
		left: 4.2vw;
		visibility: hidden;
	}

	#check:checked ~ .menu {
		left: 0;
	}



	.home {
		position: relative;
		z-index: 20;
		width: 100%;
		margin-top: -18vw;
	}
	
	.home-container {
		width: 90%;
		margin: auto;
		justify-content: center;
	}
	
	.home-background {
		display: none;
		padding: 0;
		margin: 0;
		overflow: hidden;
		width: 90%;
		height: 25px;
		object-fit: cover;
		z-index: 50;
		transform: translate(0, 0);
	}
	
	.home-background svg {
		z-index: 50;
	}
	
	.home-title {
		z-index: 20;
		overflow: hidden;
		transform: translateY(300px);
	}
	
	.home-title .text{
		margin: 0;
		width: 33%;
		z-index: -10;
		position: relative;
		font-size: 17vw;
		font-weight: 600;
		font-family: "poppinsbold";
		color: #000000;
		line-height: 16.5vw;
	}
	
	.text.third-text {
		color: #4f7c2e;
		line-height: 22.5vw;
	}
	
	.text.third-text:before{
		content: "";
		position: absolute;
		top: 3vw;
		left: 0;
		height: 85%;
		width: 100%;
		background-color: rgb(255, 255, 255);
		border-left: 5px solid #4f7c2e;
		animation: animate 4s steps(12) infinite;
	}
	
	@keyframes animate{
		40%, 60%{
			left: calc(100% + 10px);
		}
		100%{
			left: 0%;
		}
	}


	.opening {
		width: 100%;
		height: 400px;
		transform: translateY(-10vw);
	}
	
	.opening-container {
		width: 90%;
		padding: 0;
		margin: auto;
		justify-content: center;
	}
	
	.opening-title {
		text-align: center;
		transform: translateY(10px);
		font-family: "montserratitalic";
		font-size: 7.7vw;
		font-weight: 400;
		color: #71614d;
	}
	
	.opening-content img {
		width: 80px;
		z-index: -20;
	}
	
	.opening-content .bottom {
		float: right;
	}
	
	.opening-content h3 {
		text-align: center;
		margin: 0px 0;
		font-size: 9.55vw;
		line-height: 10.55vw; 
	}


	.offer {
		width: 100%;
		margin: 0;
		padding: 0;
		margin-top: 30vw;
	}
	
	.offer-container {
		width: 100%;
		margin: 0;
		padding: 0;
		margin: auto;
		justify-content: center;
		display:inline-block;
	}
	
	.offer-title {
		margin: 0;
		text-align: center;
		font-family: "montserratitalic";
		font-size: 7.7vw;
		font-weight: 400;
		color: #71614d;
	}
	
	.offer-content {
		width: 90%;
		margin: auto;
		margin-top: 30px;
		height: 170vw;
		background-color: #000000;
		cursor: pointer;
		justify-content: center;
	}
	
	.offer-content:hover {
		background-color: #161616;
	}
	
	.offer-img span{
		display: flex;
		width: 100%;
		overflow: hidden;
	}
	
	.offer-img img{
		width: 100%;
		height: 60vw;
		object-fit: cover;
		vertical-align: middle;
		transition: all 0.3s ease;
	}
	
	.offer-content:hover .offer-img img{
		transform: scale(1.1);
	}
	
	.offer-desc {
		margin: 22px 25px;
		text-align: left;
		color: white;
	}
	
	.offer-desc h3 {
		display: inline;
		background-repeat: no-repeat;
		transition: all 500ms ease-in-out;
		margin: 0;
		font-size: 9vw;
		line-height: 11vw;
		letter-spacing: 1px;
		font-family: "poppinsbold";
		background-position: left;
		background-size: 0% 100%;
		background-image: linear-gradient(to bottom, transparent 60%, #4b712f 20%);
	}
	
	.offer-content:hover .offer-desc h3 {
		background-size: 100% 100%;
	}
	
	.offer-desc h5 {
		margin: 0;
		margin-top: 3vw;
		font-size: 5.2vw;
		letter-spacing: 1.2px;
		font-family: "montserratitalic";
		font-weight: 400;
	}




	.founder {
		width: 100%;
		height: auto;
		margin-top: 20vh;
	}
	
	.founder-header {
		width: 90%;
		margin: auto;
		justify-content: center;
		border-bottom: 2.7px solid #3b3937;
	}
	
	.founder-header h3 {
		text-align: left;
		margin: 0;
		margin-bottom: 2vw;
		font-family: "montserratitalic";
		font-size: 6.5vw;
		font-weight: 400;
		color: #3b3937;
	}
	
	.founder-container {
		display: inline-block;
		margin: 0;
		width: 100%;
		height: auto;
		margin-top: 7vw;
		justify-content: center;
	}

	.founder-img {
		width: 90%;
		margin: auto;
		justify-content: center;
	}
	
	.founder-img span{
		display: flex;
		width: 100%;
		overflow: hidden;
	}
	
	.founder-img img {
		margin: auto;
		width: 100%;
		height: 288px;
		object-fit: cover;
		transition: all 0.5s ease;
		justify-content: center;
	}
	
	.founder-img img:hover {
		transform: scale(1.05);
	}

	.founder-desc {
		margin: 0;
		width: 90%;
		margin: auto;
		justify-content: center;
	}
	
	.founder-desc h3 {
		font-size: 19vw;
		font-weight: 900;
		line-height: 18vw;
		letter-spacing: 1.5px;
		margin: 0;
		margin-top: 4vw;
		text-transform: uppercase;
		font-family: "poppinsbold";
	}
	
	.founder-desc h5 {
		margin: 0;
		margin-top: 1.5vh;
		font-size: 2.7vh;
		font-weight: 300;
		line-height: 3.5vh;
		letter-spacing: 0.7px;
		font-family: "montserrat";
	}



	/* GET TO KNOW MORE ARROW */

	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
	
	* {
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
  
	.arrow-one {
		margin-top: 7vw;
	}
	
	.arrow-two {
		text-align: left;
		margin-top: 9vw;
	}
		
	.the-arrow {
		width: 64px;
		transition: all 0.2s;
	}
	
	.the-arrow.-left {
		position: absolute;
		top: 60%;
		left: 0;
	}
	
	.the-arrow.-left > .shaft {
		width: 0;
		background-color: #232323;
	}
	
	.the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
		width: 0;
		height: 1.5px;
		background-color: #232323;
	}
	
	.the-arrow.-left > .shaft:before {
		transform: rotate(0);
	}
	
	.the-arrow.-left > .shaft:after {
		transform: rotate(0);
	}
	
	.the-arrow.-right {
		top: 3px;
	}
	
	.the-arrow.-right > .shaft {
		width: 64px;
		transition-delay: 0.2s;
	}
	
	.the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
		width: 8px;
		height: 1.5px;
		transition-delay: 0.3s;
		transition: all 0.5s;
	}
	
	.the-arrow.-right > .shaft:before {
		transform: rotate(40deg);
	}
	
	.the-arrow.-right > .shaft:after {
		transform: rotate(-40deg);
	}
	
	.the-arrow > .shaft {
		background-color: #232323;
		display: block;
		height: 1.5px;
		position: relative;
		transition: all 0.2s;
		transition-delay: 0;
		will-change: transform;
	}
	
	.the-arrow > .shaft:before, .the-arrow > .shaft:after {
		background-color: #232323;
		content: "";
		display: block;
		height: 1px;
		position: absolute;
		top: 0;
		right: 0;
		transition: all 0.2s;
		transition-delay: 0;
	}
	
	.the-arrow > .shaft:before {
		transform-origin: top right;
	}
	
	.the-arrow > .shaft:after {
		transform-origin: bottom right;
	}
		
	.animated-arrow {
		display: inline-block;
		color: #232323;
		font-size: 5em;
		font-style: italic;
		text-decoration: none;
		position: relative;
		transition: all 0.2s;
	}
	
	.animated-arrow:hover {
		color: #53734b;
	}
	
	.animated-arrow:hover > .the-arrow.-left > .shaft {
		width: 64px;
		transition-delay: 0.1s;
		background-color: #53734b;
	}
	
	.animated-arrow:hover > .the-arrow.-left > .shaft:before, 
	.animated-arrow:hover > .the-arrow.-left > .shaft:after {
		width: 8px;
		transition-delay: 0.1s;
		background-color: #53734b;
	}
	
	.animated-arrow:hover > .the-arrow.-left > .shaft:before {
		transform: rotate(40deg);
	}
	
	.animated-arrow:hover > .main {
		transform: translateX(80px);
	}
	
	.animated-arrow:hover > .main > .the-arrow.-right > .shaft {
		width: 0;
		transform: translateX(10%);
		transition-delay: 0;
	}
	
	.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before, 
	.animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
		width: 0;
		transition-delay: 0;
		transition: all 0.1s;
	}
	
	.animated-arrow:hover > .main > .the-arrow.-right > .shaft:before {
		transform: rotate(0);
	}
	
	.animated-arrow:hover > .main > .the-arrow.-right > .shaft:after {
		transform: rotate(0);
	}
	
	.animated-arrow > .main {
		display: flex;
		align-items: center;
		transition: all 0.2s;
	}
	
	.animated-arrow > .main > .text {
		margin: 0 16px 0 0;
		font-size: 8vw;
		font-weight: 900;
		line-height: 1px;
	}
	
	.animated-arrow > .main > .the-arrow {
		position: relative;
	}
	
	
	
	
	/* NEXT EDU ACHIEVEMENTS */
	
	.achievements {
		height: auto;
		width: 100%;
		margin-top: 40vw;
		margin-bottom: 0;
	}
	
	.achievements-header {
		width: 90%;
		margin: auto;
		justify-content: center;
		border-bottom: 2.7px solid #3b3937;
	}
	
	.achievements-header h3 {
		text-align: left;
		margin: 0;
		margin-bottom: 2vw;
		font-family: "montserratitalic";
		font-size: 6.5vw;
		font-weight: 400;
		color: #3b3937;
	}
	
	.achievements-containers {
		margin: 0;
		height: auto;
		display:grid;
		width: 100%;
	}
	
	.achievements-container {
		margin: auto;
		width: 100%;
		justify-content: center;
		text-align: center;
	}
	
	.achievements-containers .one {
		margin: auto;
		margin-top: -11vw;
		padding: 0;
		width: 90%;
		float: none;
		justify-content: center;
	}
	
	.achievements-containers .two {
		margin: auto;
		padding: 0;
		width: 90%;
		float: none;
		justify-content: center;
	}

	.one:nth-of-type(1) {
		order: 2;
	}

	.two:nth-of-type(2) {
		order: 1;
	}
	
	.achivements-content {
		width: auto;
		align-items: center;
		margin: auto;
		margin-top: 5vw;
		padding: 4.5vw 0 4.5vw 11.5vw;
		display: flex;
		height: 30vw;
		border-radius: 10px;
		border: 0.6vw solid #757575;
	}
	
	.achivements-content-desc {
		margin: 0;
		margin-left: 7vw;
		text-align: left;
		align-items: center;
		justify-content: none;
	}
	
	.achivements-content i,
	.achivements-content h3,
	.achivements-content h5 {
		transition: all 0.2s ease;
		cursor: pointer;
		margin: 0;
	}
	
	.achivements-content i {
		margin-left: 0;
		font-size: 13.5vw;
	}
	
	.achivements-content i:hover {
		color: #324b1f;
	}
	
	.achivements-content h3 {
		margin: 0;
		margin-top: -5.5vw;
		font-size: 9.5vw;
		color: #324b1f;
		font-family: "poppinsbold";
	}
	
	.achivements-content h3:hover {
		color: #19250f;
	}
	
	.achivements-content h5 {
		margin: 0.8vw 0 0 0;
		font-size: 6.5vw;
		line-height: 4px;
		font-family: "poppinsbold";
	}
	
	.achivements-content h5:hover {
		color: #474646;
	}
	
	.achievements-desc {
		text-align: left;
		margin-top: 5.5vw;
	}

	.achievements-title {
		display: block;
		width: 100%;
	}
	
	.achievements-title h3 {
		display: block;
		font-size: 17vw;
		font-weight: 900;
		line-height: 16vw;
		letter-spacing: 1.5px;
		margin: 0;
		text-transform: uppercase;
		font-family: "poppinsbold";
	}
	
	.achievements-desc h5 {
		margin: 0;
		margin-top: 2.2vw;
		margin-bottom: 5vw;
		font-size: 5.7vw;
		font-weight: 400;
		line-height: 7vw;
		letter-spacing: 0.7px;
		font-family: "montserrat";
	}
	
	.achievements-desc h5 span {
		font-weight: 500;
		background-color: rgb(179, 200, 160);
		padding: 0 5px;
	}
	
	.achievements-img span{
		display: flex;
		width: 100%;
		overflow: hidden;
	}
	
	.achievements-img img{
		width: 100%;
		height: 288px;
		object-fit: cover;
		transition: all 0.5s ease;
	}
	
	.achievements-img img:hover {
		transform: scale(1.05);
	}
	
	
	
	
	/* FOOTER */
	
	.footer {
		position: relative;
		width: 100%;
		height: 240vw;
		background-color: #0d0d0d;
		top: 0vh;
		color: white;
		transform: translateY(45vw);
	}
	
	.footer-containers {
		width: 100%;
		margin: auto;
		align-items: center;
		justify-content: center;
		display: inline-block;
	}
	
	.gallery {
		margin: auto;
		align-items: center;
		justify-content: center;
		position: relative;
		top: 30px;
		display: grid;
		grid-template-columns: 40vw 40vw;
		grid-gap: 2.5vh 2.5vh;
	}
	
	.gallery span{
		display: flex;
		width: 100%;
		overflow: hidden;
	}
	
	.gallery img {
		width: 50vw;
		height: 40vw;
		object-fit: cover;
		transition: all 0.3s ease;
	}
	
	.gallery img:hover {
		transform: scale(1.08);
	}
	
	.footer-container-two {
		width: 90%;
		margin: auto;
		position: relative;
		top: 18vw;
		text-align: left;
		justify-content: left;
		float: none;
	}
	
	.footer-logo {
		font-size: 12vw;
		font-family: "poppinsextrabold";
		letter-spacing: 0.8px;
	}
	
	.footer-copyright {
		margin: -1vh 0 1vh 0;
		font-size: 6.5vw;
		font-weight: 600;
		font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		font-style: italic;
		letter-spacing: 1px;
	}
	
	.footer-desc {
		text-align: left;
		margin-top: 4vw;
		width: 98%;
		float: none;
	}

	.footer-desc ul {
		padding: 0;
	}
	
	.footer-desc a {
		display: inline;
		background-repeat: no-repeat;
		transition: all 500ms ease-in-out;
		color: rgb(208, 233, 202);
		text-decoration: none;
		margin-left: 0;
		margin-right: 3.5vw;
		font-size: 4.8vw;
		font-family:"poppinsbold";
		letter-spacing: 2.2px;
		line-height: 8.8vw;
		text-transform: uppercase;
		background-position: left;
		background-size: 0% 100%;
		background-image: linear-gradient(to bottom, transparent 90%, rgb(208, 233, 202) 10%);
	}
	
	.footer-desc a:hover {
		background-size: 100% 100%;
	}
	
	.footer-socialmedias {
		text-align: left;
		float: none;
		display: flex;
	}
	
	.footer-socialmedia {
		margin-left: 0;
		margin-top: 3.4vw;
		margin-right: 8vw;
	}
	
	.footer-socialmedia i {
		display: table-cell;
		font-size: 30px;
		border: none;
		width: auto;
		height: auto;
		border-radius: 50%;
		vertical-align: middle;
		text-align: center;
		transition: all 0.2s ease;
		cursor: pointer;
	}
	
	.footer-socialmedia:hover > i{
		border-color: rgb(208, 233, 202);
		color: rgb(208, 233, 202);
	}
}
